/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

/*
TO DO: INSERT ALL MYPERSONA COLOR PALETTES HERE

COMMON RULES:
POSITIVE -> FOR POSITIVE ACTION ACCENT (EX: SUBMIT BUTTOM)
ASSERTIVE -> FOR NEGATIVE ACTION ACCENT (EX: CANCEL BUTTON)
 */
$positive:                        #f37023 !default;
$assertive:                       #00529b !default;
$calm:                      			#02cdef !default;
$dark:                            #333 !default;
$royal:                           #05a !default;
$light:                           #fff !default;

$fa-font-path: "../fonts/font-awesome";
$ionicons-font-path: "../fonts/ionicons";
$OpenSansPath: "../fonts/sans";
$img-path: "../img/assets";

@import "../bower_components/ionic/scss/ionic.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../bower_components/open-sans-fontface/open-sans.scss";
@import "action-sheet/action-sheet.scss";
@import "datepicker/datepicker.scss";
@import "theme/theme.scss";
@import 'my-persona/responsive-ui/ios.scss';
@import 'my-persona/responsive-ui/android.scss';

html,
body {
	font-family: "Open Sans" !important;
}

a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #333;
}

::placeholder {
	color: #656565 !important;
}

a {
	text-decoration: none;
}

.row + .row {
	margin-top: -1px;
	padding-top: 0;
}

.bar-footer-sidebar {
	background-position: none !important;
}

.button-bar > .button:last-child {
	border-right-width: 1px;
	border-radius: 0;
}

.mp-popup-error .popup-buttons,
.mp-popup-style .popup-buttons {
	padding: 0;
	margin: 0;
}

.mp-popup-style p {
	text-align: center;
}

.mp-popup-error .popup-buttons {
	min-height: 42px;
}

.mp-popup-error .button {
	background-color: #ca1507 !important;
}

.mp-popup-error .popup-body {
	min-height: 60;
	text-align: center;
	vertical-align: bottom;
}

.mp-popup-error .popup-head {
	background: #fff;
}

.item-avatar .item-img,
.item-avatar i:first-child {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 36px;
	max-width: 40;
	max-height: 40;
	width: 100%;
	border-radius: 4px;
}

.side-menu img {
	width: 9%;
	margin-top: 4%;
	background-color: #e42112;
	float: left;
}

.side-menu small {
	float: left;
	margin-left: 5px;
}

.button-bar > .button:first-child {
	border-radius: 0;
}

.error-login small {
	color: #ef473a;
	font-weight: bold;
}

.avatar {
	height: 180;
	background-color: #c12c20;
	border: none;
}

.item-avatar > img:first-child {
	max-width: 100;
	max-height: 100;
	margin-left: 25%;
}

.mp-user-avatar img {
	margin-top: 20;
}

#mp-sidebar-footer,
.mp-sidebar-menu-list {
	background: linear-gradient(to left, #dcdcdc 0, #fff 9px, #fff 100%);
}

.mp-sidebar-menu-list {
	height: 65px !important;
}

.mp-sidebar-menu-list .item-complex .item-content {
	padding: 10;
}

.mp-sidebar-menu-list img {
	width: 25px;
}

.mp-sidebar-menu-list label {
	position: relative;
	top: -10;
	left: 10;
	font-size: 15px;
}

.mp-sidebar-menu-list label-x { // stylelint-disable-line
	position: relative;
	top: -5px;
	left: 10;
	font-size: 15px;
}

.mp-sidebar-menu-list i {
	color: #00529b;
	font-size: 35px;
}

.mp-sidebar-footer {
	background-size: 100% 0 !important;
}

.mp-button {
	border-color: #cb1a0c !important;
	background-color: #cb1a0c !important;
}

.mp-button.activated {
	border-color: #9e0e03 !important;
	background-color: #9e0e03 !important;
}

.mp-push-top {
	padding-top: 100px;
}

.mp-alert-error img {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mp-alert-error p {
	color: #00529b;
	font-weight: bold;
	text-align: center;
}

.mp-register {
	margin-top: 30;
}

.mp-register span {
	color: #777;
}

.mp-span-required {
	color: #ca1507 !important;
}

.warning-input {
	margin-top: 10;
	color: #ca1507 !important;
	position: relative;
	top: 5px;
	float: right;
	margin-bottom: 10;
}

.copyright {
	font-size: 7pt;
	text-align: center;
}

.mp-popup-style .button {
	color: #00529b;
	font-weight: bold;
	height: 20px !important;
	background-color: white !important;
}

.popup-buttons {
	min-height: 30px !important;
}

.remove-after::after {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*
	FROM HERE DO NOT REMOVE THIS CODE ====================================================================
 */
.object-fit {
	&.cover {
		object-fit: cover;
	}

	&.contain {
		object-fit: contain;
	}

	&.fill {
		object-fit: fill;
	}

	&.none {
		object-fit: none;
	}

	&.scale-down {
		object-fit: scale-down;
	}

	object-position: 50% 50%;
}

.slider-img i.icon.ion-record::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 2px;
	margin: auto;
	content: "";
	width: 1px;
	height: 1px;
	border: 4px solid white;
	border-radius: 100%;
	z-index: 1;
}

.slider-img i.icon.ion-record::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	width: 1px;
	height: 1px;
	border: 6px solid #fff;
	border-radius: 100%;
	z-index: 0;
}

.slider {
	visibility: visible !important;
}

.slider-img i.icon.ion-record {
	position: relative;
}

.slider-img .slider-pager span.slider-pager-page {
	opacity: 1;
}

// TAB COLLAPSE
.tab-list .item.tab-item-accordion {
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
}

.tab-list .item.tab-item-accordion.ng-hide {
	line-height: 0;
}

.tab-list .item.tab-item-accordion.ng-hide-add,
.tab-list .item.tab-item-accordion.ng-hide-remove {
	display: block !important;
}

.tab-item-accordion .tab-content-list {
	margin-top: 10px !important;
	margin-left: 30;
	margin-bottom: 10px !important;
}

.tab-list .tab-item-stable {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tab-list .item.tab-item-accordion {
	background-color: #ececec;
}

.tab-list .item.active,
.tab-list .item.activated {
	border-color: #000 !important;
	background-color: #fff !important;
}

.tab-list .item.tab-item-accordion {
	border-top: 1px solid #d42121;
}

.tab-list i {
	left: auto;
	right: 20px;
	text-align: right;
	top: 36%;
	position: absolute;
	font-size: 15px;
}

.footer-content {
	border-color: $calm !important;
	background-color: $calm !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 1px !important;
	background-image: linear-gradient(0deg, $calm, $calm 50%, transparent 50%) !important;
}

.header-content {
	border-color: $calm !important;
	background-color: $calm !important;
	background-image: linear-gradient(0deg, $calm, $calm 50%, transparent 50%) !important;
	color: #fff;
}

.badge {
	position: absolute !important;
	min-width: 10;
	padding: 2px 5px;
	font-weight: 700;
	line-height: 1;
	color: $calm;
	vertical-align: middle;
	top: 2px !important;
}

.digital-card {
	background: url('#{$img-path}/my-card-background.png');
	background-size: cover;
	padding: 15px;
}

.digital-card-content {
	background: #fff;
	background-size: cover;
	height: auto !important;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
}

.header-medika {
	padding-left: 2px 7px;
	background-color: #036;
	color: #e0dfe0;
}

.menu-container {
	padding: 0;
	margin: 0;
}

.menu-item {
	padding: 3px;
	margin: 0;
	// background-color: grey;
	// height: 27px; => kalo di ucomment nanti ada bug di tampilan iphone 5
	text-align: center;
	vertical-align: middle;
	// padding-top: 1px;
	background-color: transparent;
	font-size: 7pt;
	display: block;
	cursor: pointer;
}

.menu-item-active {
	// padding: 0;
	// margin: 0;
	// height: 27px; => kalo di ucomment nanti ada bug di tampilan iphone 5
	text-align: center;
	vertical-align: middle;
	// padding-top: 1px;
	background-color: white;
	font-size: 7pt;
	display: block;
	cursor: pointer;
	color: #00529b;
}

.first {
	border-left: 1px solid #e0dfe0;
	border-bottom: 1px solid #e0dfe0;
	border-top: 1px solid #e0dfe0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.last {
	border-left: 1px solid #e0dfe0;
	border-right: 1px solid #e0dfe0;
	border-bottom: 1px solid #e0dfe0;
	border-top: 1px solid #e0dfe0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mid {
	border-bottom: 1px solid #e0dfe0;
	border-top: 1px solid #e0dfe0;
}

.all {
	border: 1px solid #e0dfe0;
}

.menu-item a {
	color: #e0dfe0;
}

.menu-item-active a {
	color: #00529b;
}

.main-select {
	height: 26px;
	margin-top: -4px;
}

.main-select select {
	max-width: 100%;
}

.claim-content .claim-list .row:first-child {
	margin-bottom: 15px !important;
}

.claim-content .claim-list:last-child {
	margin-bottom: 10 !important;
}

.claim-list {
	border-bottom: 1px solid #cbcbcb;
}

.claim-list .row {
	font-size: 10;
}

.claim-list .row:first-child {
	padding-top: 10 !important;
}

.claim-list .row:last-child {
	padding-bottom: 10;
}

.claim-list .col {
	padding: 0 5px 0 10;
	margin: 0;
}

.card-show {
	height: auto !important;
}

.card-photo {
	display: flex;

	.card-photo-content {
		flex: 1;
		display: flex;
		align-items: center;

		.card-avatar {
			margin-right: 20px;
		}

		.card-info {
			flex: 1;

			.card-fullname {
				font-weight: 400;
				margin: 0 0 5px;
			}
		}
	}
}

.card-banner {
	display: flex;
	height: 100%;

	.card-banner-content {
		display: inline-block;
		// align-self: flex-end;
		width: 100%;

		img {
			// width: 180px;
			float: right;
		}

		.insurance-text {
			color: $assertive;
			margin-bottom: 5px;
			font-size: 22px;
			text-align: right;
		}
	}
}

.card-close {
	position: relative;
}

.btn-close-card {
	right: 5px;
	top: 3px;
	position: absolute;
	font-size: 30px;
}

.card-header {
	padding: 0;
	margin: 0;
}

.card-header hr {
	border: 1px solid #c73;
	width: 100%;
}

.card-header .row,
.card-header .col {
	padding: 3px 3px 1px 2px;
}

.card-content .row,
.card-content .col {
	padding: 0;
	margin: 0;
}

.card-name {
	margin-left: 15px;
}

.card-name h4,
small {
	text-align: left;
	padding: 21px 0 0;
	margin: 0;
}

.img-my-card {
	width: 70px;
	height: 70px;
}

.card-content {
	padding-left: 8px;
}

.card-content .mp-push-top {
	margin-top: 10 !important;
}

.label-card,
.content-card {
	padding: 0;
	margin: 0;
	font-size: 11px;
}

.image-card-qr {
	margin-right: 10px !important;
}

.image-card-qr .img-card-line {
	width: 100%;
}

.image-card-qr .img-card-square {
	width: 100%;
}

.banner-card-bottom {
	width: 75px;
	float: right;
	margin-top: 38px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.insurance-card-text {
	position: relative;
	top: 35px;
	right: -120;
	font-size: 14pt;
	color: #00529b;
}

.menu-icon {
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.menu-icon-x {
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.menu-icon-x img {
	height: 16px;
}

#auth-header img {
	margin-top: 6px;
	width: 120px;
}

#auth-header {
	background-color: $calm !important;
	border-color: $calm !important;
	color: #fff;
}

.menu-icon-x p {
	color: white;
	text-align: center;
	font-size: 7pt;
	margin: 0 !important;
	padding: 0 !important;
	margin-top: -5px;
	position: relative;
	top: -5px;
}

.slider-pager span.slider-pager-page.active i.icon.ion-record::after {
	border-color: #c12c20;
}

.center {
	margin: 0 auto;
}

.title {
	margin: auto;
}

.spinner {
	stroke: $assertive;
	fill: $assertive;
}

a[href^="tel"] {
	color: inherit;
	text-decoration: none;
}

.image-disabled {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.6);
		transition: all 0.5s;
		cursor: default !important;
		pointer-events: none;
	}
}

.provider-number {
	height: 30px;
	padding: 4px 5px;
}

.home-divider {
	width: 100%;
	height: 0.7vh;
	background-color: $positive;
}

.home-slider {
	height: 25vh;

	.slider img {
		height: 100%;
	}
}

.home-menu-container {
	display: flex;
	background-color: white;
	height: calc(100vh - 26vh - (2 * #{$bar-height}));
	flex-direction: column;

	.home-menu-row {
		flex: 1;
		display: flex;

		.home-menu-col {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 90%;
			}
		}
	}
}

.avatar-photo {
	display: flex;
	width: 100%;
	height: auto;

	.avatar-photo-content {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 85px;
			height: 85px;
		}

		a {
			position: absolute;
			height: 20px;
			width: 20px;
			line-height: 20px;
			margin-left: 33px;
			margin-top: -27px;
		}
	}
}

.profile-name {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: flex-end;
}

.button::after {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	content: ' ' !important;
}

.popup-container {
	.popup {
		background-color: #fff !important;

		.popup-head {
			border-bottom: 0 none;
		}
	}
}
