<ion-footer-bar class="footer-content">
  <div class="col">
    <div class="row menu-container">
      <!--<div class="col menu-icon-x">
        <a ui-sref="app.main.admedika.benefit">
          <img src="img/assets/footer-icon/fix-benefit.png">
          <p>Benefit</p>
        </a>
      </div>
      <div class="col menu-icon-x">
        <a ui-sref="app.main.admedika.claim">
          <img src="img/assets/footer-icon/fix-claim.png">
          <p>Claim History</p>
        </a>
      </div>-->
      <div class="col menu-icon">
        <a ui-sref="app.main.home">
          <img src="img/assets/footer-icon/home-icon.png" class="image-size-home-footer">
        </a>
      </div>
      <!--<div class="col menu-icon-x">
        <a ui-sref="app.main.admedika.provider">
          <img src="img/assets/footer-icon/fix-provider.png">
          <p>Provider</p>
        </a>
      </div>
      <div class="col menu-icon-x">
        <a ui-sref="app.main.admedika.status">
          <img src="img/assets/footer-icon/fix-status.png">
          <p>My Status</p>
        </a>
      </div>-->
    </div>
  </div>
</ion-footer-bar>
