<div id="login-error" class="error-login">
  <img src="img/assets/gps-not-found.png" alt="fail login" width="100%" />
  <br>
  <p>
    Maaf, kami tidak dapat menentukan posisi Anda, mohon pastikan fitur GPS dan internet Anda aktif.
  </p>
  <br/>
</div>
