<ion-view view-title="Connect My AdMedika Card" ng-cloak>
  <ion-content class="has-header has-footer" has-bouncing="false" scroll="true">
    <!-- MAIN CONTENT HERE -->
    <section id="connect-content" class="flex-container-column bg-admedika-connect height-auto min-height-full padding-top-large text-gray-v5">
      <div class="width-80 margin-auto padding-vertical-large" ng-show="$.failed">
        <!-- IMAGE LOGO CONTENT HERE -->
        <div class="row padding-bottom-small margin-none">
          <div class="col padding-none margin-none">
            <img src="img/assets/admedika-reconnect-failed.png" class="image-size-medium block-display margin-auto padding-bottom-small object-fit cover"/>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <div class="col padding-none margin-none">
            <h2 class="text-center text-gold-v1" ng-if="$root.widthPage >= 720">Nomor kartu salah / tidak ditemukan</h2>
            <h4 class="text-center text-gold-v1" ng-if="$root.widthPage < 720">Nomor kartu salah / tidak ditemukan</h4>
          </div>
        </div>
      </div>
      <div class="width-80 margin-auto" ng-hide="$.failed || $.cardNumber">
        <!-- IMAGE LOGO CONTENT HERE -->
        <img src="img/assets/admedika-connect.png" class="image-size-medium block-display margin-auto padding-bottom-small object-fit cover"/>
        <!-- TEXT NOTICE CONTENT HERE -->
        <h2 class="text-center" ng-if="$root.widthPage >= 720">Informasi Jaminan Kesehatan Anda</h2>
        <h4 class="text-center" ng-if="$root.widthPage < 720">Informasi Jaminan Kesehatan Anda</h4>
        <p class="width-100 padding-top-large margin-auto text-center">Fitur ini hanya untuk peserta AdMedika</p>
        <div class="row padding-none margin-none">
          <!-- IMAGE ADMEDIKA CONNECT CONTENT HERE -->
          <div class="col padding-none margin-none">
            <img src="img/assets/my-addmedika-connect-guide.png" alt="Admedika Connect" class="image-size-admedika-connect object-fit cover"/>
          </div>
          <!-- TEXT NOTICE GUIDE INPUT CONTENT HERE -->
          <div class="col col-75 padding-none margin-none connect-content">
            <h2 id="text-connect" class="notice-guide" ng-if="$root.widthPage >= 720">Masukan 16 digit nomor kartu AdMedika Anda</h2>
            <h4 class="notice-guide" ng-if="$root.widthPage < 720">Masukan 16 digit nomor kartu AdMedika Anda</h4>
          </div>
        </div>
      </div>
      <div class="width-80 margin-auto" ng-hide="$.failed || !$.cardNumber" >
        <!-- IMAGE LOGO CONTENT HERE -->
        <div class="row padding-bottom-small margin-none">
          <div class="col padding-none margin-none">
            <img src="img/assets/admedika-connect.png" class="image-size-medium block-display margin-auto padding-bottom-small object-fit cover"/>
          </div>
        </div>
        <div class="row padding-bottom-small margin-none">
          <div class="col padding-none margin-none">
            <h2 class="text-center text-gold-v1" ng-if="$root.widthPage >= 720">
              Masa polis Anda telah berakhir / status member tidak aktif
            </h2>
            <h4 class="text-center text-gold-v1" ng-if="$root.widthPage < 720">
              Masa polis Anda telah berakhir / status member tidak aktif
            </h4>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <div class="col padding-none margin-none">
            <p class="margin-none text-center">
              Nomor kartu AdMedika Anda yang saat ini terdaftar di MyMedical adalah
            </p>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <div class="col padding-none margin-none">
            <h2 class="text-center" ng-if="$root.widthPage >= 720">{{ $.cardNumber  }}</h2>
            <h4 class="text-center" ng-if="$root.widthPage < 720">{{ $.cardNumber }}</h4>
          </div>
        </div>
      </div>
      <div class="width-80 margin-auto">
        <div class="row padding-none margin-none" ng-show="$.cardNumber">
          <!-- TEXT NOTICE GUIDE INPUT CONTENT HERE -->
          <div class="col padding-none margin-top-small">
            <p class="text-center text-gold-v1 margin-none">Update nomor kartu AdMedika</p>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <!-- FORM INPUT ADMEDIKA CONNECT CONTENT HERE -->
          <form name="form" class="col margin-none padding-top-small" ng-submit="$.submit(user)" novalidate="true">
            <!-- INPUT ADMEDIKA NUMBER CONNECT CONTENT HERE -->
            <label class="item item-input border-radius-10 margin-bottom-x-small">
              <input type="text" ng-model="user.cardNumber" ng-minlength="16" ng-maxlength="16" ng-pattern="/^[0-9]*$/" ng-required="true">
            </label>
            <!-- SUBMIT BUTTON CONTENT HERE -->
            <button class="button button-block button-positive" type="submit" ng-disabled="form.$invalid || $.isLoading">
              {{ $.isLoading ? 'PLEASE WAIT' : 'SUBMIT' }}
            </button>
          </form>
        </div>
      </div>
      <div class="width-80 margin-auto" ng-show="$.failed">
        <div class="row padding-none margin-none">
          <div class="col padding-none">
            <p class="text-center margin-none">atau</p>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <div class="col padding-none">
            <button class="button button-block button-dark" type="button" ui-sref="app.main.support.contact-us" ng-disabled="$.isLoading">CONTACT SUPPORT</button>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
  <ion-footer-bar align-title="center" class="footer-content padding-left-none padding-right-none padding-top-none">
    <div class="col">
      <div class="row text-center padding-top-none margin-top-none">
        <div class="col text-center padding-top-none margin-top-none">
          <a ui-sref="app.main.home" ui-sref-active="active">
            <img src="img/assets/footer-icon/home-icon.png" class="image-size-home-footer">
          </a>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
