<ion-view view-title="My Profile" cache-view="false" ng-cloak>
  <ion-nav-title>
    <p class="title">
      <img src="img/assets/header-profile.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content class="has-header has-footer">
    <!-- MAIN CONTENT HERE -->
    <section class="flex-container-column bg-gray-v1 min-height-full flex-display" ng-show="$.profile._id">
      <article class="flex-1">
        <div id="avatar-profile" class="width-100 height-150 bg-profile">
          <!-- IMAGE AVATAR HERE  -->
          <div class="width-100 margin-none" image-upload>
            <div class="row padding">
              <div class="col col-25">
                <toolbar type="avatar"></toolbar>
              </div>
              <div class="col profile-name">
                <p id="profile-name" class="capitalize text-white text-large">{{ $.profile.name | titleize }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- FORM INFO HERE  -->
        <div class="width-100 margin-auto bg-white">
          <div class="form-group">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                Tanggal Lahir
              </div>
              <div id="profile-birthdate" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.parseBirthday($.profile.birthday || '-') }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                No. Handphone
              </div>
              <div id="profile-phone" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.phone || '-' }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                Email
              </div>
              <div id="profile-email" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.email }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                App ID
              </div>
              <div id="profile-id" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.id }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                No. AdMedika
              </div>
              <div class="col static-paragraf text-blue-v1 font-bold">
                <span id="profile-card" ng-show="$.profile.admedika.cardNumber">
                  {{ $.profile.admedika.cardNumber }}
                </span>
                <span id="profile-connect" ng-hide="$.profile.admedika.cardNumber" ui-sref="app.main.admedika.reconnect">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="$.profile.admedika.member.memberType === 'Principal'">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                No. BPJS
              </div>
              <div id="profile-bpjsId" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.admedika.bpjsInfo.bpjsId }}
                <a ui-sref="app.main.profile.change-bpjs">
                  <i ng-if="!$.profile.admedika.bpjsInfo.bpjsId" class="icon-medium ion-compose text-gold-v1 float-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="$.profile.admedika.member.memberType === 'Principal'">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                Faskes Tingkat I
              </div>
              <div id="profile-faskesLevel1" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.admedika.bpjsInfo.faskesLevel1 }}
                <a ui-sref="app.main.profile.change-bpjs">
                  <i ng-if="!$.profile.admedika.bpjsInfo.faskesLevel1" class="icon-medium ion-compose text-gold-v1 float-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="$.profile.admedika.member.memberType === 'Principal'">
            <div class="row text-x-medium">
              <div class="col static-label text-gray-v1">
                Kelas Rawat
              </div>
              <div id="profile-bpjsId" class="col static-paragraf text-blue-v1 font-bold">
                {{ $.profile.admedika.bpjsInfo.bpjsType }}
                <a ui-sref="app.main.profile.change-bpjs">
                  <i ng-if="!$.profile.admedika.bpjsInfo.bpjsType" class="icon-medium ion-compose text-gold-v1 float-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-top-small margin-auto width-80">
          <!-- BUTTON EDIT PASSWORD HERE -->
          <button id="profile-edit-password" ui-sref="app.main.profile.change-password" class="button button-block button-positive border-radius-10">EDIT
            PASSWORD</button>
          <button id="profile-edit-password" ui-sref="app.main.profile.change-bpjs" class="button button-block button-positive border-radius-10" ng-if="$.profile.admedika.member.memberType === 'Principal'">EDIT
            BPJS</button>
        </div>
      </article>
    </section>
    <ion-infinite-scroll on-infinite="$.getProfile()" ng-if="!$.hasProfile" distance="100%"></ion-infinite-scroll>
  </ion-content>
  <toolbar type="footer"></toolbar>
</ion-view>
