<ion-view view-title="My Status" ng-cloak align-title="center">
	<ion-content id="mystatus" class="has-header has-footer" has-bouncing="false">
		<section class="bg-gray-v5 height-100-percent table-cell-display vertical-align-middle">
			<admedika-toolbar type="header"></admedika-toolbar>
			<div ng-hide="false">
				<!-- GREETING CONTENT HERE  -->
				<!-- <div class="row row-center">
					<div class="col col-center">
						<h3 class="text-red-v6">Haloooo</h3>
					</div>
				</div> -->
				<!-- NAME USER CONTENT HERE -->
				<div class="padding-small bg-gray-v5 border-bottom-red-1-d42121">
					<h3 class="text-red-v7 text-left" ng-if="$root.widthPage >= 720">RS PREMIER JATINEGARA</h3>
					<h4 class="text-red-v7 text-left" ng-if="$root.widthPage < 720">RS PREMIER JATINEGARA</h4>
					<p class="text-gray-v7 text-x-medium">
						<label class="text-blue-v1">Date :</label> Feb/19/2017
					</p>
				</div>
				<div id="content-status" class="bg-white">
					<!-- LIST  STATUS CONTENT HERE -->
					<div class="border-bottom-gray-ddd">
						<div class="row padding-bottom-none line-height-15">
							<!-- STATUS CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Status <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								RI (21)
							</div>
						</div>
						<div class="row padding-bottom-none line-height-15">
							<!-- DATETIME CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Date/ Time <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Feb-19-2017 / 09:00:00
							</div>
						</div>
						<!-- MESSAGE CONTENT HERE -->
						<div class="row padding-bottom-none line-height-15">
							<div class="col text-red-v9 text-x-medium">
								Message <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Kami sudah mengirimkan konfirmasi penjaminan perawatan ke rumah sakit/ klinik.
							</div>
						</div>
					</div>
					<div class="border-bottom-gray-ddd">
						<div class="row padding-bottom-none line-height-15">
							<!-- STATUS CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Status <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								RI (36)
							</div>
						</div>
						<div class="row padding-bottom-none line-height-15">
							<!-- DATETIME CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Date/ Time <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Feb-20-2017 / 14:00:00
							</div>
						</div>
						<!-- MESSAGE CONTENT HERE -->
						<div class="row padding-bottom-none line-height-15">
							<div class="col text-red-v9 text-x-medium">
								Message <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Rincian biaya dan kelengkapan dokumen perawatan anda telah kami terima dan sedang dalam proses, konfirmasi selanjutnya akan diberikan dalam waktu 30 menit.
							</div>
						</div>
					</div>
					<div class="border-bottom-gray-ddd">
						<div class="row padding-bottom-none line-height-15">
							<!-- STATUS CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Status <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								RI (40)
							</div>
						</div>
						<div class="row padding-bottom-none line-height-15">
							<!-- DATETIME CONTENT HERE -->
							<div class="col text-red-v9 text-x-medium">
								Date/ Time <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Feb-19-2017 / 14:30:00
							</div>
						</div>
						<!-- MESSAGE CONTENT HERE -->
						<div class="row padding-bottom-none line-height-15">
							<div class="col text-red-v9 text-x-medium">
								Message <span class="text-right"></span>
							</div>
							<div class="col col-75 text-gray-v1 text-x-medium">
								Perkiraan biaya perawatan anda telah diproses dan dikirim, mohon menghubungi bagian admin rumah sakit/ klinik.
							</div>
						</div>
					</div>
				</div>
				<div class="padding-top-medium">
					<button class="button button-block button-positive width-80-force margin-auto border-radius-10">DISCHARGE</button>
					<p class="text-x-small text-center width-80 margin-auto padding-none text-gray-v7 margin-bottom-small">
						
					</p>
				</div>
			</div>
		</section>
	</ion-content>
	<admedika-toolbar type="footer"></admedika-toolbar>
</ion-view>
