@charset "UTF-8";
// Variables
@import 'variables';

.padding_zero {
	padding: 0;
}

.ionic_datepicker_popup .font_bold {
	font-weight: bold;
}

.ionic_datepicker_popup .padding_top_zero {
	padding-top: 0;
}

.ionic_datepicker_popup .padding_left_5px {
	padding-left: 5px;
}

.ionic_datepicker_popup .padding_right_5px {
	padding-right: 5px;
}

.ionic_datepicker_popup .month_year_section {
	padding: 5px 0;
}

.ionic_datepicker_popup .calendar_grid {
	height: 215px;
}

.ionic_datepicker_popup .calendar_grid .weeks_row {
	padding: 0;
}

.ionic_datepicker_popup .today {
	border: 1px solid $date-picker-positive;
	border-radius: 50%;
}

.ionic_datepicker_popup .selected_date {
	background-color: $date-picker-positive;
	border-radius: 50%;
	color: $date-picker-light;
	font-weight: bold;
}

.ionic_datepicker_popup .popup-head {
	background-color: $date-picker-positive;
	display: none;
}

.ionic_datepicker_popup .popup-head .popup-title {
	color: $date-picker-light;
}

.ionic_datepicker_popup .popup-head .popup-sub-title {
	color: $date-picker-light;
}

.ionic_datepicker_popup .popup-body {
	background-color: $date-picker-light;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
	background-color: $date-picker-positive;
	margin: -10px -10px 0;
	height: 45px;
	text-align: center;
	font-weight: bold;
	color: $date-picker-light;
	line-height: 45px;
	font-size: 18px;
}

.ionic_datepicker_popup .popup-body .select_section {
	padding: 1px 5px;
}

.ionic_datepicker_popup .popup-body .pointer_events_none {
	pointer-events: none;
	color: $date-picker-stable !important;
}

.ionic_datepicker_popup .popup-body .month_select,
.ionic_datepicker_popup .popup-body .year_select {
	border: none;
	border-bottom: 1px solid $date-picker-positive;
	padding: 0;
}

.ionic_datepicker_popup .popup-body .month_select .input-label,
.ionic_datepicker_popup .popup-body .year_select .input-label {
	padding: 2px 0;
	width: 0;
}

.ionic_datepicker_popup .popup-body .month_select select,
.ionic_datepicker_popup .popup-body .year_select select {
	left: 10px;
	border: none;
	padding: 0;
}

.ionic_datepicker_popup .popup-body .month_select::after,
.ionic_datepicker_popup .popup-body .year_select::after {
	right: 5px;
	color: $date-picker-positive;
}

.ionic_datepicker_popup .popup-body .show_nav {
	padding: 5px 0 0;
}

.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section {
	padding: 5px 0;
	text-align: left;
}

.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section button {
	padding: 0;
}

.ionic_datepicker_popup .popup-body .show_nav .next_btn_section {
	padding: 5px 0;
	text-align: right;
}

.ionic_datepicker_popup .popup-body .show_nav .next_btn_section button {
	padding: 0;
}

.ionic_datepicker_popup .popup-body .button-clear {
	color: $date-picker-positive !important;
}

.ionic_datepicker_popup .popup-buttons {
	padding: 0;
	min-height: 45px;
}

.ionic_datepicker_popup .popup-buttons button {
	background-color: $date-picker-positive;
	border-radius: 0;
	margin-right: 1px;
	color: $date-picker-light;
}

.ionic_datepicker_popup .row + .row {
	padding: 0;
}

.ionic_datepicker_modal .footer,
.ionic_datepicker_modal .header {
	background-color: $date-picker-positive;
}

.ionic_datepicker_modal .footer .button,
.ionic_datepicker_modal .footer .title,
.ionic_datepicker_modal .header .button,
.ionic_datepicker_modal .header .title {
	color: $date-picker-light;
}

.ionic_datepicker_modal .footer .button-block {
	margin: 0;
}

.ionic_datepicker_modal .today {
	border: 1px solid $date-picker-positive;
}

.ionic_datepicker_modal .selected_date {
	background-color: $date-picker-positive;
	color: $date-picker-light;
	font-weight: bold;
}

.ionic_datepicker_modal .pointer_events_none {
	pointer-events: none;
	color: $date-picker-stable !important;
}

.ionic_datepicker_modal .select_section {
	padding: 1px 5px;
}

.ionic_datepicker_modal .button-clear {
	color: $date-picker-positive;
}

.ionic_datepicker_modal .month_select,
.ionic_datepicker_modal .year_select {
	border: none;
	border-bottom: 1px solid $date-picker-positive;
	padding: 0;
}

.ionic_datepicker_modal .month_select .input-label,
.ionic_datepicker_modal .year_select .input-label {
	padding: 2px 0;
	width: 0;
}

.ionic_datepicker_modal .month_select select,
.ionic_datepicker_modal .year_select select {
	left: 10px;
	border: none;
	padding: 0 10px;
}

.ionic_datepicker_modal .month_select::after,
.ionic_datepicker_modal .year_select::after {
	right: 5px;
	color: $date-picker-positive;
}

.ionic_datepicker_modal .padding_left_5px {
	padding-left: 5px;
}

.ionic_datepicker_modal .padding_right_5px {
	padding-right: 5px;
}

.ionic_datepicker_modal .date_col {
	height: 50px;
	line-height: 50px;
}

.ionic_datepicker_modal .font_bold {
	font-weight: bold;
}

.ionic_datepicker_modal .font_22px {
	font-size: 22px;
}

.platform-android .ionic_datepicker_modal .bar .title.title-left {
	text-align: center;
}

.platform-android .ionic_datepicker_modal select {
	left: 25%;
}

.platform-ios .ionic_datepicker_modal select {
	left: 5%;
}
