<ion-view view-title="Home" cache-view="true" ng-cloak align-title="center">
  <ion-nav-title>
    <p class="title"><img src="img/assets/header-logo.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content id="home-content" class="has-footer has-header margin-bottom-medium">
    <ion-slide-box slide-interval="{{ $.interval }}" auto-play="true" show-pager="true" does-continue="true"
      on-slide-changed="$.slideChanged($index)" class="home-slider">
      <ion-slide ng-repeat="img in $.images">
        <img ng-click="$.open(img)" ng-src="{{ img.image | slider }}" alt="{{ img.name }}" class="width-100 height-100-percent object-fit cover" />
      </ion-slide>
    </ion-slide-box>
    <div class="home-divider"></div>
    <div class="home-menu-container" ng-show="$.hasMember">
      <div class="margin-top-x-small">
        <div class="home-menu-row margin-top-medium" ng-repeat="img in $.menus">
          <div class="home-menu-col">
            <img ng-click="$.open(img)" ng-src="{{ img.image | slider }}" alt="{{ img.name }}" class="image-size-medium object-fit contain" />
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="$.getMember()" ng-if="!$.hasMember" distance="100%"></ion-infinite-scroll>
  </ion-content>
  <toolbar type="footer"></toolbar>
