<ion-side-menus enable-menu-with-back-views="false">
  <!-- HEADER -->
  <ion-side-menu-content>
    <ion-nav-bar id="mypersona-header-bar" class="bar-calm header-content" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button id="sidemenu" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <div ng-if="'app.main.home' | isState">
          <button id="setting" class="button button-icon icon ion-ios-gear-outline" ui-sref="app.main.setting"></button>
        </div>
        <div ng-if="'app.main.admedika.member' | isState">
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- MAIN VIEW -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <!-- SIDEBAR HEADER -->
    <ion-header-bar class="bar-stable header-sidebar">
      <!-- <img src="img/assets/header-logo.png" class="image-size-header-sidebar margin-left-small"> -->
    </ion-header-bar>
    <!-- SIDEBAR CONTENT -->
    <ion-content has-bouncing="false">
      <div class="item avatar bg-user-avatar-sidebar" image-upload>
        <!-- IMAGE -->
        <div class="row">
          <div class="col">
            <toolbar type="avatar"></toolbar>
          </div>
        </div>
        <!-- PROFILE NAME -->
        <div class="row">
          <div class="col">
            <h2 class="text-white text-center">{{ $.profile.name | titleize }}</h2>
          </div>
        </div>
      </div>
      <div class="text-center margin-vertical-large" ng-show="$.isLoading">please wait . . .</div>
      <ion-list ng-hide="$.isLoading">
        <ion-item id="sidemenu-admedika" menu-toggle class="height-65px-force" myadmedika="{{ $.profile.admedika }}">
          <img src="img/assets/sidebar-my-health.png" class="image-size-item-sidebar-h" />
          <label class="relative-position bottom-15 left-15 text-xx-small">Jaminan Kesehatan</label>
        </ion-item>
        <ion-item id="sidemenu-polis" menu-toggle class="height-65px-force" ng-click="$.openUrl(1)">
          <img src="img/assets/buku-polis-link.png" class="image-size-item-sidebar-w" />
          <label class="relative-position bottom-10 left-5 text-xx-small">Informasi Polis Asuransi Kesehatan</label>
        </ion-item>
        <ion-item id="sidemenu-polis" menu-toggle class="height-65px-force" ng-click="$.openUrl(2)">
          <img src="img/assets/buku-polis-link.png" class="image-size-item-sidebar-w" />
          <label class="relative-position bottom-10 left-5 text-xx-small">Informasi Polis Medicare & Medicare Plus</label>
        </ion-item>
        <ion-item id="sidemenu-setting" ui-sref="app.main.setting" menu-toggle class="height-65px-force">
          <img src="img/assets/setting.png" class="image-size-item-sidebar" />
          <label class="relative-position bottom-15 left-5 text-xx-small">Setting</label>
        </ion-item>
      </ion-list>
    </ion-content>
    <!-- SIDEBAR FOOTER -->
    <ion-footer-bar class="bar-footer-sidebar">
      <div class="row">
        <div class="col-20"></div>
        <div class="col" ng-if="$root.widthPage < 720"></div>
        <div id="sidemenu-logout" class="col relative-position bottom-5 block-display cursor-pointer text-right text-gold-v1 t-padding-top-10" style="display:flex; justify-content:flex-end;" ng-click="$root.logout()" menu-close>
          <img src="img/assets/logout-icon.png" alt="Logout" style="height: 16px; width: auto;" />
          <label class="margin-left-x-small">Log out</label>
        </div>
      </div>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
