<div class="text-center">
  <img src="img/assets/switch-account-red.png" width="60px" />
  <br>
  <div ng-show="data.member.fullName">
    <p class="margin-top-x-small margin-bottom-x-small">PRINCIPAL</p>
    <ion-radio ng-value="data.member" ng-model="data.dependent">
      <small>{{ data.member.fullName }}</small>
    </ion-radio>
  </div>
  <div ng-show="data.dependents && data.dependents.length">
    <p class="margin-top-x-small margin-bottom-x-small">DEPENDENT</p>
    <ion-radio ng-repeat="item in data.dependents" ng-value="item" ng-model="data.dependent">
      <small>{{ item.fullName }}</small>
    </ion-radio>
  </div>
</div>
