<ion-view view-title="Contact Us / Inquiry">
  <ion-nav-title>
    <!-- TITLE HEADER HERE  -->
    <p class="title"><img src="img/assets/header-support.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content class="has-header has-footer">
    <!-- MAIN CONTENT  -->
    <section id="contact-us" class="padding-top-large height-full flex-container-column">
      <!-- FORM CONTACT SUPPORT HERE  -->
      <form class="width-80 margin-auto" name="form" ng-submit="$.submit(data)">
        <span class="input-label padding-bottom-small width-100">Subject</span>
        <label class="item item-input item-stacked-label has-shadow border-radius-10">
          <!-- INPUT SUBJECT HERE  -->
          <input ng-model="data.subject" ng-required="true" />
        </label>
        <span class="input-label padding-bottom-small width-100 margin-top-small">Pesan Anda</span>
        <label class="item item-input item-stacked-label has-shadow border-radius-10">
          <!-- INPUT CONTENT HERE  -->
					<textarea ng-model="data.content" class="height-x-large" ng-required="true"></textarea>
				</label>
        <!-- BUTTON SUBMIT HERE  -->
        <button type="submit" class="button button-block button-positive margin-top-small" ng-disabled="form.$invalid || $.isLoading">{{ $.isLoading ? 'PLEASE WAIT' : 'SEND' }}</button>
      </form>
    </section>
  </ion-content>
  <toolbar type="footer"></toolbar>
</ion-view>
