// THEMING MARGIN
.margin-none { margin: 0 !important; }
.margin-min-1 { margin: -1px; }
.margin-top-none { margin-top: 0 !important; }
.margin-bottom-none { margin-bottom: 0 !important; }
.margin-right-none { margin-right: 0 !important; }
.margin-left-none { margin-left: 0 !important; }

.margin-vertical-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-horizontal-none {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.margin-x-small { margin: 5px; }
.margin-small { margin: 10px; }
.margin-medium { margin: 20px; }
.margin-large { margin: 30px; }
.margin-x-large { margin: 50px; }
.margin-top-xx-small { margin-top: 3px !important; }
.margin-top-x-small { margin-top: 5px !important; }
.margin-top-small { margin-top: 10px; }
.margin-top-medium { margin-top: 20px; }
.margin-top-large { margin-top: 30px; }
.margin-top-large-force { margin-top: 30 !important; }
.margin-top-x-large { margin-top: 50px; }
.margin-top-xx-large { margin-top: 100px; }
.margin-top-xx-large-force { margin-top: 100 !important; }
.margin-top-10-percent { margin-top: 10%; }
.margin-top-20-percent { margin-top: 20%; }
.margin-top-30-percent { margin-top: 30%; }
.margin-top-40-percent { margin-top: 40%; }
.margin-top-50-percent { margin-top: 50%; }
.margin-bottom-x-small { margin-bottom: 5px; }
.margin-bottom-small { margin-bottom: 10px; }
.margin-bottom-small-force { margin-bottom: 10 !important; }
.margin-bottom-medium { margin-bottom: 20px; }
.margin-bottom-large { margin-bottom: 30px; }
.margin-bottom-x-large { margin-bottom: 50px; }
.margin-right-x-small { margin-right: 5px; }
.margin-right-small { margin-right: 10px; }
.margin-right-medium { margin-right: 20px; }
.margin-right-large { margin-right: 30px; }
.margin-right-x-large { margin-right: 50px; }
.margin-left-x-small { margin-left: 5px; }
.margin-left-small { margin-left: 10px; }
.margin-left-medium { margin-left: 20px; }
.margin-left-large { margin-left: 30px; }
.margin-left-large-force { margin-left: 30 !important; }
.margin-left-x-large { margin-left: 50px; }
.margin-left-profile-avatar { margin-left: 90px; }

.margin-vertical-x-small {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-vertical-small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-vertical-medium {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-vertical-large {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-vertical-x-large {
	margin-top: 50px;
	margin-bottom: 50px;
}

.margin-horizontal-x-small {
	margin-left: 5px;
	margin-right: 5px;
}

.margin-horizontal-small {
	margin-left: 10px;
	margin-right: 10px;
}

.margin-horizontal-medium {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-horizontal-large {
	margin-left: 30px;
	margin-right: 30px;
}

.margin-horizontal-x-large {
	margin-left: 50px;
	margin-right: 50px;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

// THEMING PADDING
.padding-none { padding: 0 !important; }
.padding-top-none { padding-top: 0 !important; }
.padding-bottom-none { padding-bottom: 0 !important; }
.padding-right-none { padding-right: 0 !important; }
.padding-left-none { padding-left: 0 !important; }

.padding-vertical-none {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.padding-horizontal-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.padding-x-small { padding: 5px; }
.padding-small { padding: 10px; }
.padding-medium { padding: 20px; }
.padding-large { padding: 30px; }
.padding-x-large { padding: 50px; }
.padding-top-x-small { padding-top: 5px; }
.padding-top-small { padding-top: 10px; }
.padding-top-medium-small { padding-top: 12px; }
.padding-top-medium { padding-top: 20px; }
.padding-top-large { padding-top: 30px; }
.padding-top-x-large { padding-top: 50px; }
.padding-bottom-x-small { padding-bottom: 5px; }
.padding-bottom-small { padding-bottom: 10px; }
.padding-bottom-medium { padding-bottom: 20px; }
.padding-bottom-large { padding-bottom: 30px; }
.padding-bottom-x-large { padding-bottom: 50px; }
.padding-right-x-small { padding-right: 5px; }
.padding-right-small { padding-right: 10px; }
.padding-right-small-force { padding-right: 10px !important; }
.padding-right-medium { padding-right: 20px; }
.padding-right-large { padding-right: 30px; }
.padding-right-x-large { padding-right: 50px; }
.padding-left-x-small { padding-left: 5px; }
.padding-left-small { padding-left: 10px; }
.padding-left-small-force { padding-left: 10px !important; }
.padding-left-x-medium { padding-left: 15px !important; }
.padding-left-medium { padding-left: 20px; }
.padding-left-large { padding-left: 30px; }
.padding-left-x-large { padding-left: 50px; }

.padding-vertical-x-small {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padding-vertical-small {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-vertical-medium {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-vertical-large {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding-vertical-x-large {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-horizontal-x-small {
	padding-left: 5px;
	padding-right: 5px;
}

.padding-horizontal-small {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-horizontal-medium {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-horizontal-large {
	padding-left: 30px;
	padding-right: 30px;
}

.padding-horizontal-s-large {
	padding-left: 40px;
	padding-right: 40px;
}

.padding-horizontal-x-large {
	padding-left: 50px;
	padding-right: 50px;
}

.padding-image-avatar { padding: 40px 0 0 23px; }

/* THEMING TEXT ALIGN */
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-justify { text-align: justify !important; }

/* THEMING FONT SIZE */
.text-sub-label { font-size: 9.5pt !important; }
.text-x-small { font-size: 7pt !important; }
.text-xx-small { font-size: 6pt !important; }
.text-small { font-size: 9pt; }
.text-f-small { font-size: 9pt !important; }
.text-m-small { font-size: 9pt !important; }
.text-x-medium { font-size: 11pt !important; }
.text-medium { font-size: 12pt; }
.text-large { font-size: 14pt !important; }
.text-x-large { font-size: 18px !important; }
.text-xx-large { font-size: 20pt !important; }
.text-xxl-large { font-size: 25pt !important; }

/* THEMING SIZE IMAGE  */
.image-size-logo-bri {
	width: 275px;
	height: auto;
}

.image-size-logo-bri-card {
	width: 200px;
	height: auto;
}

.image-size-x-small {
	width: 15px;
	height: auto;
}

.image-size-near-me {
	width: 100%;
	height: auto;
}

.image-size-my-card {
	width: 23px;
	height: auto;
}

.image-size-item-sidebar {
	width: 27px;
	height: auto;
}

.image-size-item-sidebar-w {
	width: 27px;
	height: auto;
}

.image-size-item-sidebar-h {
	width: auto;
	height: 27px;
}

.image-size-change-password {
	width: 25px;
	height: auto;
}

.image-size-home-footer {
	width: 32px;
	height: auto;
}

.image-size-x-medium {
	width: 50px;
	height: auto;
}

.image-size-avatar {
	width: 80px;
	height: 80px;
}

.image-size-admedika-connect {
	width: 80px;
	height: auto;
}

.image-size-medium {
	width: 100px;
	height: auto;
}

.image-size-header-sidebar {
	width: 125px;
	height: 33px;
}

.image-size-mypersona-header {
	width: auto;
	height: 32px;
}

.image-size-mypersona-header-1 {
	width: auto;
	height: 40px;
}

.image-size-admedika-header {
	width: 25px !important;
	height: auto;
}

.image-size-auth-header {
	width: 120px;
	height: auto;
}

.image-size-contact-support { width: 30px !important; }

.image-size-sort {
	width: 100%;
	height: auto;
}

.image-size-filter {
	width: 100%;
	height: auto;
}

/* THEMING IMAGE SHAPE */
.img-circle { border-radius: 50%; }

/* THEMING DISPLAY */
.inline-display { display: inline; }
.block-display { display: block; }
.flex-display { display: flex; }
.inline-block-display { display: inline-block; }
.flex-display { display: flex; }
.inline-flex-display { display: inline-flex; }
.table-cell-display { display: table-cell; }

/* THEMING WIDTH ELEMENT */
.min-width-none { min-width: 0; }
.max-width-60px { max-width: 70px !important; } /* for max width select filter provider */
.width-20px { width: 20px !important; } /* for width icon upload image my profile */
.width-25px { width: 25px; } /* for width icon upload profile sidebar */
.width-85px { width: 85px !important; } /* for width img avatar member indo upload image my profile */
.width-70 { width: 70 !important; } /* for width button submit search provider */
.width-100 { width: 100%; }
.width-95 { width: 95%; } /* for width hr claim history */
.width-90 { width: 90%; }
.width-80 { width: 80%; }
.width-80-force { width: 80% !important; }
.width-70 { width: 70%; }
.width-60 { width: 60%; }
.width-50 { width: 50%; }
.width-40 { width: 40%; }
.width-30 { width: 30%; }
.width-20 { width: 20%; }
.width-10 { width: 10%; }

/* THEMING HEIGH  */
.height-20px { height: 20px; } /* for height icon upload image profile */
.height-25px { height: 25px; } /* for height icon upload image profile sidebar */
.height-28px { height: 28px; } /* for height button submit provider */
.height-45px { height: 45px; } /* for height navigation search on provider ui and cliam history ui */
.height-60 { height: 60px; } /* for height result search filter prodider */
.height-65px-force { height: 60px !important; } /* for height sidebar menu */
.height-large { height: 60px; }
.height-85px { height: 85px !important; } /* for height image avatar member info */
.height-150 { height: 150px; } /* for height bg myprofile */
.height-x-large { height: 240px; }
.height-normal { height: 50px; }
.height-medium { height: 40px; }
.height-small { height: 30px; }
.height-full { max-height: 100vh; }
.height-30-percent { height: 30%; }
.height-50-percent { height: 50%; }
.height-100-percent { height: 100%; }
.height-90vh { height: 90vh; }
.height-80vh { height: 80vh; }
.height-70vh { height: 70vh; }
.height-60vh { height: 60vh; }
.height-50vh { height: 50vh; }
.height-40vh { height: 40vh; }
.height-30vh { height: 30vh; }
.height-20vh { height: 20vh; }
.height-10vh { height: 10vh; }
.height-auto { height: auto !important; }
.min-height-full { min-height: 90vh; }
.min-height-full-in-percent { min-height: 100%; }
.min-height-none { min-height: 0; }

/* THEMING FLEX DISPLAY */
.flex-1 { -webkit-flex: 1; }
.flex-2 { -webkit-flex: 2; }
.flex-3 { -webkit-flex: 3; }
.flex-shrink { flex-shrink: 2; }

/* THEMING DUMMY */
.bg-dummy-1 { background: #000; }
.bg-dummy-2 { background: green; }

.bg-profile {
	padding-top: 20px;
	background: url('#{$img-path}/background-profile.png');
	background-size: cover;
}

.bg-admedika-connect {
	background: url('#{$img-path}/backgroun-myadmedika-connect.png');
	background-size: cover;
}

.bg-user-avatar-sidebar {
	background: url("#{$img-path}/background-profile.png");
	box-shadow: inset -9px 0 9px -7px #5f5f5f;
	background-size: cover;
}

/* THEMING BORDER */
.border-none { border: 0 !important; }
.border-top-none { border-top: 0; }

/* color : #d3d3d3  */
.border-gray-1 { border: 1px solid #d3d3d3; }
.border-gray-2 { border: 2px solid #d3d3d3; }
.border-gray-3 { border: 3px solid #d3d3d3; }
.border-right-gray-1 { border-right: 1px solid #d3d3d3; }
.border-right-gray-2 { border-right: 2px solid #d3d3d3; }
.border-right-gray-3 { border-right: 3px solid #d3d3d3; }
.border-bottom-gray-1 { border-bottom: 1px solid #d3d3d3; }
.border-bottom-gray-2 { border-bottom: 2px solid #d3d3d3; }
.border-bottom-gray-3 { border-bottom: 3px solid #d3d3d3; }
.border-bottom-gray-cbcbcb { border-bottom: 1px solid #cbcbcb; } /* for border claim history */
.border-bottom-gray-eee { border-bottom: 1px solid #eee; } /* for border on member nfo */
.border-bottom-gray-ddd { border-bottom: 1px solid #ddd; } /* for border bottom mystatus */

/* color : red  */
.border-bottom-red-1 { border-bottom: 1px solid red; }
.border-bottom-red-2 { border-bottom: 2px solid red; }
.border-bottom-red-3 { border-bottom: 3px solid red; }
.border-bottom-red-1-d42121 { border-bottom: 1px solid #d42121; }

/* THMEING CURSOR */
.cursor-pointer { cursor: pointer; }

/* THEMING BACKGROUND  */
.bg-gray-v1 { background: #f1f1f1; }
.bg-gray-v2 { background: #696666; }
.bg-gray-v3 { background: #333; }
.bg-gray-v4 { background: #f5f5f5; }
.bg-gray-v5 { background: #ececec; }
.bg-white { background: #fff; }
.bg-blue-v1 { background: #00a1e1; }
.bg-red-v1 { background: #e82011; }
.bg-red-v2 { background: #c91305; }
.bg-red-v3 { background: #05a; }
.bg-gold-v1 { background: #f37023; }
.bg-gold-v2 { background: #f37023; }
.bg-gold-v3 { background: #f37023; }

/* THEMING COLOR TEXT  */
.text-gray-v1 { color: #464646 !important; }
.text-gray-v2 { color: #cbcbcb !important; }
.text-gray-v3 { color: #929090 !important; }
.text-gray-v4 { color: #797979 !important; }
.text-gray-v5 { color: #808080 !important; }
.text-grey-v6 { color: #777 !important; }
.text-gray-v7 { color: #7f7f7f !important; }
.text-red-v1 { color: #ef473a !important; }
.text-red-v2 { color: #ed1c24 !important; }
.text-red-v3 { color: #9a1005 !important; }
.text-red-v4 { color: #a20c00 !important; }
.text-red-v5 { color: #630a03 !important; }
.text-red-v6 { color: #f00 !important; }
.text-red-v7 { color: #d42121 !important; }
.text-red-v8 { color: #373636 !important; }
.text-red-v9 { color: #6d0800 !important; }
.text-gold-v1 { color: #f37023 !important; }
.text-blue-v1 { color: #013b6f !important; }
.text-white { color: #fff !important; }
.text-black { color: #000 !important; }
.text-bold { font-weight: bold; }

/* THEMING TRANSFORM TEXT */
.capitalize { text-transform: capitalize; }

/* THEMING FLOAT  */
.float-right { float: right; }
.float-left { float: left; }

/* THEMING BORDER RADIUS */
.border-radius-10 { border-radius: 10px !important; }
.border-radius-5 { border-radius: 5px !important; }
.webkit-border-radius-50-percent { border-radius: 50%; }
.mox-border-radius-50-percent { border-radius: 50%; }

/* THEMING SHADOW ON INPUT */
.has-shadow {
	-moz-box-shadow: inset 0 3px 4px 1px #e2e2e2;
	-webkit-box-shadow: inset 0 3px 4px 1px #e2e2e2;
	box-shadow: inset 0 3px 4px 1px #e2e2e2;
}

/* THEMING POSITION */
.relative-position { position: relative; }
.relative-position-force { position: relative !important; }
.absolute-position { position: absolute; }
.fixed-position { position: fixed; }

/* THEMING TOP POSITION */
.top-none { top: 0; }
.top-none-force { top: 0 !important; }
.top-1-force { top: 1px !important; } /* for button upload sidebar profile */
.top-2 { top: 2px; }
.top-3 { top: 3px; }
.top-4 { top: 4px; } /* for button in profile member info */
.top-5 { top: 5px; }
.top-10 { top: 10px; }
.top-15 { top: 15px; }
.top-20 { top: 20px; }
.top-25 { top: 25px; }
.top-30 { top: 30px; }
.top-35 { top: 35px; }
.top-40 { top: 40px; }
.top-45 { top: 45px; }
.top-50 { top: 50px; }
.top-55 { top: 55px; }
.top-60 { top: 60px; }
.top-65 { top: 65px; }
.top-70 { top: 70px; }
.top-75 { top: 75px; }
.top-80 { top: 80px; }
.top-85 { top: 85px; }
.top-90 { top: 90px; }
.top-95 { top: 95px; }
.top-100 { top: 100px; }

/* THEMING LEFT POSITION */
.left-none { left: 0; }
.left-none-force { left: 0 !important; }
.left-1 { left: 1px; }
.left-2 { left: 2px; }
.left-3 { left: 3px; }
.left-4 { left: 4px; }
.left-5 { left: 5px; }
.left-10 { left: 10px; }
.left-15 { left: 15px; }
.left-20 { left: 20px; }
.left-25 { left: 25px; }
.left-30 { left: 30px; }
.left-35 { left: 35px; }
.left-40 { left: 40px; }
.left-45 { left: 45px; }
.left-50 { left: 50px; }
.left-55 { left: 55px; }
.left-60 { left: 60px; }
.left-65 { left: 65px; }
.left-70 { left: 70px; }
.left-75 { left: 75px; }
.left-80 { left: 80px; }
.left-85 { left: 85px; }
.left-90 { left: 90px; }
.left-95 { left: 95px; }
.left-100 { left: 100px; }

/* THEMING RIGHT POSITION */
.right-2 { right: 2px; } /* for position icon reset filter provider search */
.right-3 { right: 3px; } /* for position span reset filter provider search */
.right-5 { right: 5px; }
.right-10 { right: 10px; }
.right-15 { right: 15px; }
.right-20 { right: 20px; }
.right-25 { right: 25px; }
.right-30 { right: 30px; }
.right-35 { right: 35px; }
.right-40 { right: 40px; }
.right-45 { right: 45px; }
.right-50 { right: 50px; }
.right-55 { right: 55px; }
.right-60 { right: 60px; }
.right-65 { right: 65px; }
.right-70 { right: 70px; }
.right-75 { right: 75px; }
.right-80 { right: 80px; }
.right-85 { right: 85px; }
.right-90 { right: 90px; }
.right-95 { right: 95px; }
.right-100 { right: 100px; }

/* THEMING RIGHT POSITION */
.bottom-4 { bottom: 4px; } /* for position search icon */
.bottom-5 { bottom: 5px; }
.bottom-10 { bottom: 10px; }
.bottom-15 { bottom: 15px; }
.bottom-20 { bottom: 20px; }
.bottom-25 { bottom: 25px; }
.bottom-30 { bottom: 30px; }
.bottom-35 { bottom: 35px; }
.bottom-40 { bottom: 40px; }
.bottom-45 { bottom: 45px; }
.bottom-50 { bottom: 50px; }
.bottom-55 { bottom: 55px; }
.bottom-60 { bottom: 60px; }
.bottom-65 { bottom: 65px; }
.bottom-70 { bottom: 70px; }
.bottom-75 { bottom: 75px; }
.bottom-80 { bottom: 80px; }
.bottom-85 { bottom: 85px; }
.bottom-90 { bottom: 90px; }
.bottom-95 { bottom: 95px; }
.bottom-100 { bottom: 100px; }

/* CUSTOM LAYOUT FORM GROUP */
.form-group {
	width: 95%;
	margin: 0 auto;
}

.form-group:not(:last-child) { border-bottom: 1px solid #dad2d2; }

.form-group .static-paragraf { text-align: right; }

.form-group .static-paragraf,
.static-label {
	padding: 0;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* CUSTOM LAYOUT OTHER */
.panel-heading {
	background-color: #e5e5e5;
	font-weight: normal;
}

.control-label {
	padding: 6px 0 5px 4px !important;
	margin: 0 !important;
}

.button-submit-filter {
	border-color: #f37023 !important;
	background-color: #f37023 !important;
}

.header-sidebar {
	border-color: #00396d !important;
	background-color: #00396d !important;
	background-image: linear-gradient(0deg, #00396d, #00396d 50%, transparent 50%) !important;
	color: #fff;
}
.claim-odd { background: #f5f5f5; }

.sidebar-menu-list {
	background: linear-gradient(to left, #dcdcdc 0, #fff 9px, #fff 100%);
}

.btn-upload { left: 70%; }

#auth .main-input {
	margin-top: 7px;
	border-radius: 7px;
	height: 45px;
	background-color: rgb(255, 255, 255);
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #ddd;
}

#auth select {
	margin-top: 7px;
	border-radius: 7px;
	height: 45px;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	border-color: white;
	border: 1px solid #ddd;
}

/* THEMING LINE HEIGHT */
.line-height-none { line-height: 0; }
.line-height-10 { line-height: 10px; }
.line-height-15 { line-height: 15px; }
.line-height-20 { line-height: 20px; }
.line-height-25 { line-height: 25px; }
.line-height-30 { line-height: 30px; }
.line-height-1 { line-height: 1; }
.line-height-2 { line-height: 1.5; }

/* THEMING FONT WEIGHT */
.font-bold { font-weight: bold; }
.font-normal { font-weight: normal; }

/* THEMING TRANSFORM  */
.transform-360 { transform: rotate(100deg); }

/* THEMING WHITE SPACE */
.white-space-nowrap { white-space: nowrap !important; }

/* THEMING TEXT OVERFLOW */
.text-overflow-ellipsis { text-overflow: ellipsis; }

/* THEMING OVERFLOW */
.overflow-hidden { overflow: hidden; }

/* THEMING BORDER COLOR */
.border-color-red-v1 {
	background-color: #05a !important;
}

/* THEMING HR */
.hr-style-v1 {
	border-color: #eee;
	border: 1px solid #eee;
}

/* THEMING VERTICAL ALIGN */
.vertical-align-middle { vertical-align: middle; }

#agree {
	background-color: #05a;
}

.ionic_datepicker_popup .popup-buttons button {
	background-color: #05a !important;
	border-radius: 0;
	margin-right: 1px;
	color: $date-picker-light;
}

.mp-select-benefit {
	margin: 0;
	padding-top: 9px;

	.main-select {
		height: 35px !important;
		margin-top: -4px;
		border-radius: 10px !important;
	}
}

#form-search-provider {
	margin-top: 0 !important;
}

#form-search-provider .margin-top-x-small {
	margin-top: 0 !important;
}

.icon-login {
	text-align: center;
	position: absolute;
	top: 70px;
	width: 100%;

	img {
		width: 120px;
	}

	p {
		color: white;
		font-size: 18pt;
		margin-top: 20px;
		line-height: 1.3;
	}
}

.image-icon {
	width: 20px;
	height: 20px;
}

.distance {
	position: relative;
	float: right;
	padding-right: 10px;
	font-size: 9.5pt;
}

.provider-label {
	font-size: 11pt;
}

.provider-popup {
	.popup {
		width: 320px;
	}

	.popup-head {
		display: none !important;
	}

	.popup-buttons {
		padding: 0;

		button {
			border-color: #eee !important;
			color: #00529b !important;
			background-color: white !important;
		}
	}
}

.provider-phone {
	position: relative;
	top: -5px;
	padding-left: 10px;
}

.provider-item {
	padding: 10px !important;
}

.login-container {
	background: url('#{$img-path}/splash.png');
	background-position: center;
	background-size: cover;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
}

.icon-medium {
	font-size: 22pt;
}

.avatar-badge {
	color: white;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #00a1e1;
	display: inline-block;
	margin-top: -1px;
}

.email-support i {
	font-size: 24px;
}

.email-support label {
	position: relative;
	top: -4px;
	left: 3px;
}

.error-login {
	text-align: center;
}

.error-login img {
	width: 100px;
	margin-top: 20px;
}

.error-login p {
	margin: 0;
}

.setting-container {
	height: 86vh;
}

.img-slider {
	object-fit: cover;
	height: auto;
}

.notice-guide {
	line-height: 1.5;
	left: 5px;
	position: relative;
	text-align: left;
	color: #9a1005;
}

.action-button {
	line-height: 30px;
	min-height: 0;
	padding: 0;
	width: 80%;
}

.text-content-card {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	float: right;
	font-weight: bold;
	color: #033a6e;
}

.text-content-card-slim {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	float: right;
	color: #033a6e;
}

.switch-account-button {
	line-height: 30px;
	min-height: 0;
	padding: 0;
	min-width: 30%;
}

.switch-account-popup {
	.popup-head {
		display: none;
	}

	.popup-body {
		padding: 10px 1px;
	}

	.item-radio {
		background-color: transparent;
		border-color: transparent;
		border-width: 2px 0;

		input:checked + .radio-content .item-content {
			background-color: #e5e5e5;
			font-weight: bold;
		}

		.radio-content {
			.item-content {
				padding: 7px 3px;
				font-size: 14px;
				color: #f36f23;
				background-color: #e5e5e5;
			}

			.radio-icon {
				display: none;
			}
		}
	}

	.popup-buttons {
		button {
			border-color: #eee !important;
			color: #00529b !important;
			background-color: white !important;
		}
	}
}

.reconnect- {
	.popup-head {
		display: none;
	}

	.popup-body {
		img {
			width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.item-select-after-none {
	&.item-select {
		&::after {
			display: none !important;
		}
	}
}
