<ion-view view-title="Benefit" cache-view="false" ng-cloak align-title="center">
  <ion-nav-title>
    <p class="title t-title"><img src="img/assets/header-profile.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content class="has-header has-footer" has-bouncing="false">
    <admedika-toolbar type="header"></admedika-toolbar>
    <div class="tab-list" ng-show="$.hasConfig">
      <!-- TAB COLLAPSE CONTENT HERE -->
      <div ng-repeat="plan in $.plans">
        <ion-item class="tab-item-stable padding-bottom-small" ng-click="$.toggleGroup($index, plan.planId)" ng-class="{ active: $.isGroupShown($index) }">
          <!-- TAB COLLAPSE HEADING HERE -->
          <div>
            <p class="text-medium text-blue-v1" ng-show="$.isShown('planType')">{{ plan.planType }}</p>
            <p class="text-medium" ng-show="$.isShown('planPolicyStartDate') || $.isShown('planPolicyEndDate')">
              <label class="text-red-v5">Policy Date</label>
              :
              <label>
                <span ng-show="$.isShown('planPolicyStartDate')">{{ $.parseDate(plan.policyStartDate) }}</span>
                <span ng-show="$.isShown('planPolicyStartDate') && $.isShown('planPolicyEndDate')"> - </span>
                <span ng-show="$.isShown('planPolicyEndDate')">{{ $.parseDate(plan.policyEndDate) }}</span>
              </label>
            </p>
            <p class="text-medium" ng-show="$.isShown('planMaxIDR') || $.isShown('planFrequencyDescription')">
              <label class="text-red-v5">Max</label>
              :
              <label>
                <span ng-show="$.isShown('planMaxIDR')">{{ $.parseMaxIdr(plan.maxIdr || '0') }}</span>
                <span ng-show="$.isShown('planFrequencyDescription')">{{ plan.frequencyDesc }}</span>
              </label>
            </p>
            <p class="text-medium" ng-show="$.isShown('planCurrentLimit')">
              <label class="text-red-v5">Current Limit</label>
              :
              <label>{{ $.parseMaxIdr(plan.currentLimit) }}</label>
            </p>
          </div>
          <i class="icon" ng-class="$.isGroupShown($index) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <!-- TAB COLLAPSE DETAIL HERE -->
        <ion-item class="tab-item-accordion" ng-show="$.isGroupShown($index)">
          <div class="tab-content-list" ng-repeat="item in plan.benefits">
            <p class="text-medium text-blue-v1" ng-show="$.isShown('benefitName') || $.isShown('benefitFrequencyDescription')">
              <span ng-show="$.isShown('benefitName')">{{ item.benefitName | uppercase }}</span>
              <span ng-show="$.isShown('benefitFrequencyDescription')">{{ $.parseFrequencyDesc(item.frequencyDesc) |
                uppercase }}</span>
            </p>
            <p class="text-medium" ng-show="$.isShown('benefitMaxIDR')">
              <label class="text-red-v5">Max</label>
              :
              <label>{{ $.parseMaxIdr(item.maxIdr || '0') }}</label>
            </p>
            <p class="text-medium" ng-show="$.isShown('benefitAvailableLimit')">
              <label class="text-red-v5">Available Limit</label>
              :
              <label>{{ $.parseMaxIdr(item.available) }}</label>
            </p>
          </div>
          <ion-infinite-scroll ng-if="!plan.hasBenefits"></ion-infinite-scroll>
        </ion-item>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="$.getPlans()" distance="15%" ng-if="!$.hasPlans"></ion-infinite-scroll>
  </ion-content>
  <admedika-toolbar type="footer"></admedika-toolbar>
</ion-view>
