<ion-view view-title="Setting Menu">
  <ion-nav-title>
    <p class="title"><img src="img/assets/header-setting.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content class="has-header has-footer">
    <section class="bg-gray-v1 flex-container-column setting-container">
      <div class="text-gray-v1 padding-top-large">
        <a id="setting-profile" ui-sref="app.main.profile.mine" class="item">My Profile
          <i class="icon ion-chevron-right text-gray-v2 float-right"></i>
        </a>
        <a id="setting-terms" ui-sref="app.main.support.terms-condition" class="item">
          Terms &amp; Condition
          <i class="icon ion-chevron-right text-gray-v2 float-right"></i>
        </a>
        <a id="setting-faq" ui-sref="app.main.support.faq" class="item">
          F.A.Q
          <i class="icon ion-chevron-right text-gray-v2 float-right"></i>
        </a>
        <a id="setting-about" ui-sref="app.main.support.about" class="item">
          About MyMedical App
          <i class="icon ion-chevron-right text-gray-v2 float-right"></i>
        </a>
        <a id="setting-contact" ui-sref="app.main.support.contact-us" class="item">
          Contact Support
          <i class="icon ion-chevron-right text-gray-v2 float-right"></i>
        </a>
      </div>
      <div class="margin-top-large">
      </div>
      <div class="text-center width-90 margin-auto margin-top-large">
        <div class="row margin-top-xx-large">
          <div id="logout-button" class="col text-center margin-top-x-large">
            <a ng-click="$root.logout()">
              <img src="img/assets/logout-icon.png" style="height: 18px; width: auto;" alt="Logout" />
              <label class="text-right text-x-large text-gold-v1">Log out</label>
            </a>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
  <toolbar type="footer" class="footer-content"></toolbar>
</ion-view>
