<ion-view view-title="Edit BPJS" cache-view="false" ng-cloak>
	<ion-nav-title>
		<p class="title">
			Edit BPJS
		</p>
	</ion-nav-title>
	<ion-content class="has-header">
		<!-- MAIN CONTENT  -->
		<section class="flex-container-column height-full">
			<!-- FORM EDIT BPJS HERE -->
			<form name="form" class="width-80 margin-auto padding-top-x-large" ng-submit="$.submit(data)" novalidate="true" ng-disabled="$.isLoading">
				<!-- BPJS ID HERE  -->
					<span class="input-label width-100">BPJS ID</span>
					<label class="item item-input item-stacked-label has-shadow border-radius-10">
						<input name="bpjsId" type="text" ng-model="data.bpjsId" ng-required="true" ng-minlength="13">
					</label>
					<div class="margin-vertical-small text-error" ng-if="form.bpjsId.$touched && form.bpjsId.$dirty">
						<small ng-show="form.bpjsId.$error.required"><i class="ion icon-ios-close-outline"></i>
							Silahkan isi ID BPJS Anda.
						</small>
						<small ng-show="form.bpjsId.$error.minlength"><i class="ion icon-ios-close-outline"></i>
							BPJS ID minimum 13 digit.
						</small>
					</div>
					<!-- FASKES LEVEL 1 HERE  -->
					<span class="input-label width-100">Fasilitas Kesehatan Lvl 1</span>
					<label class="item item-input item-stacked-label has-shadow border-radius-10">
						<input name="faskesLevel1" type="text" ng-model="data.faskesLevel1" ng-required="true">
					</label>
					<div class="margin-vertical-small text-error" ng-if="form.faskesLevel1.$touched && form.faskesLevel1.$dirty">
						<small ng-show="form.faskesLevel1.$error.required"><i class="ion icon-ios-close-outline"></i>
							Silahkan isi Faskes Level Anda.
						</small>
					</div>
					<!-- BPJS TYPE HERE  -->
					<span class="input-label width-100">Kelas Rawat</span>
					<label class="item item-input item-stacked-label has-shadow border-radius-10">
						<input name="bpjsType" type="text" ng-model="data.bpjsType" ng-required="true">
					</label>
					<div class="margin-vertical-small text-error" ng-if="form.bpjsType.$touched && form.bpjsType.$dirty">
						<small ng-show="form.bpjsType.$error.required"><i class="ion icon-ios-close-outline"></i>
							Silahkan isi Kelas Rawat Anda.
						</small>
					</div>
					<!-- BUTTON SUBMIT HERE  -->
					<button class="button button-block button-positive margin-top-large-force border-radius-10" type="submit" ng-disabled="form.$invalid || $.isLoading">{{ $.isLoading ? 'PLEASE WAIT' : 'UBAH BPJS' }}</button>
			</form>
		</section>
		<ion-infinite-scroll on-infinite="$.getProfile()" ng-if="!$.hasProfile" distance="100%"></ion-infinite-scroll>
	</ion-content>
	<ion-footer-bar align-title="center" class="footer-content">
    <div class="col">
  		<div class="row menu-container">
  			<div class="col menu-icon"><a ui-sref="app.main.home" ui-sref-active="active"><img src="img/assets/footer-icon/home-icon.png" class="image-size-home-footer"></a></div>
  		</div>
  	</div>
  </ion-footer-bar>
</ion-view>
