<ion-view view-title="Provider" ng-cloak align-title="center">
  <ion-nav-title>
    <p class="title t-title"><img src="img/assets/header-provider.png" class="margin-top-x-small image-size-mypersona-header"></p>
  </ion-nav-title>
  <ion-content class="has-header has-footer" has-bouncing="false">
    <admedika-toolbar type="header"></admedika-toolbar>
    <section class="flex-container-column height-auto text-gray-v5" ng-if="!$.hasSelectedCityAndPlan">
      <div class="width-80 margin-auto">
        <!-- IMAGE LOGO CONTENT HERE -->
        <div class="row padding-none margin-vertical-large">
          <div class="col padding-none margin-none">
            <img src="img/assets/provider-directory.png" class="block-display margin-auto object-fit cover" width="123px"/>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <form name="form" class="col margin-none padding-none" novalidate="true">
            <!-- OPTION CITIES CONTENT HERE -->
            <label class="item item-select item-stacked-label border-radius-5 text-gray-v5 overflow-hidden white-space-nowrap text-overflow-ellipsis">
              <select name="city" class="text-small float-left text-gray-v5 white-space-nowrap text-overflow-ellipsis" ng-model="filter.providerCity" ng-init="filter.providerCity = ''" ng-disabled="$.isLoading">
                <option id="provider-city" class="text-overflow-ellipsis overflow-hidden white-space-nowrap" value="">Semua Kota</option>
                <option class="text-overflow-ellipsis overflow-hidden white-space-nowrap" ng-repeat="city in $.profile.areas track by city.areaName" ng-value="city.areaName" ng-if="city.areaName">{{ city.areaName | titleize }}</option>
              </select>
            </label>
            <!-- FILTER BENEFITES CONTENT HERE -->
            <label class="item item-select item-stacked-label border-radius-5 text-gray-v5 overflow-hidden white-space-nowrap text-overflow-ellipsis margin-vertical-medium">
              <select name="benefit" class="text-small float-left text-gray-v5 white-space-nowrap text-overflow-ellipsis" ng-model="filter.planId" ng-init="filter.planId = '*'" ng-disabled="$.isLoading">
                <option id="provider-benefit" class="text-overflow-ellipsis overflow-hidden white-space-nowrap" disabled selected hidden value="*">Pilih Benefit</option>
                <option class="text-overflow-ellipsis overflow-hidden white-space-nowrap" ng-repeat="benefit in $.parsePlans($.profile.admedika.plans) track by $index" ng-value="benefit.planId" ng-if="benefit.planId">{{ benefit.planType }}</option>
              </select>
            </label>
            <!-- SUBMIT BUTTON CONTENT HERE -->
            <button class="button button-block button-positive" type="button" ng-click="$.submit(filter)" ng-disabled="form.$invalid || $.isLoading">
              {{ $.isLoading ? 'PLEASE WAIT' : 'SUBMIT' }}
            </button>
          </form>
        </div>
      </div>
      <div class="width-80 margin-auto">
        <div class="row padding-none margin-none">
          <div class="col padding-none">
            <p class="text-center margin-none">atau</p>
          </div>
        </div>
        <div class="row padding-none margin-none">
          <div class="col padding-none">
            <button class="button button-block button-dark" type="button" ng-disabled="$.isLoading" ng-click="$.nearMe(filter)">PROVIDER NEAR ME</button>
          </div>
        </div>
      </div>
    </section>
    <section class="flex-container-column" ng-if="$.hasSelectedCityAndPlan && !$.isReset">
      <!-- FILTER CONTENT OPTIONS HERE -->
      <form name="form" class="row padding-vertical-none margin-none bg-white" ng-submit="$.submit(filter)" novalidate="true">
        <div class="col col-40" ng-click="$.isLoading && $.alertLoading()">
          <!-- OPTION CITIES CONTENT HERE -->
          <label class="item item-input item-select item-stacked-label border-radius-10 padding-top-x-small padding-bottom-x-small padding-right-none padding-left-none margin-none text-gray-v5 overflow-hidden white-space-nowrap text-overflow-ellipsis">
            <select name="cities" class="text-f-small padding-right-none padding-top-none padding-bottom-none padding-left-small-force margin-none float-left text-gray-v5 white-space-nowrap text-overflow-ellipsis" ng-disabled="$.isLoading" select-change="$.changeCity">
              <option id="provider-city" class="text-overflow-ellipsis overflow-hidden white-space-nowrap" value="" ng-selected="{{$.selectedCity == ''}}">Semua Kota</option>
              <option class="text-overflow-ellipsis overflow-hidden white-space-nowrap" ng-repeat="city in $.profile.areas track by city.areaName" ng-value="city.areaName" ng-if="city.areaName" ng-selected="{{$.selectedCity == city.areaName}}">{{ city.areaName | titleize }}</option>
            </select>
          </label>
        </div>
        <div class="col col-40 padding-left-none" ng-click="$.isLoading && $.alertLoading()">
          <!-- FILTER BENEFITES CONTENT HERE -->
          <label class="item item-input item-select item-select-after-none item-stacked-label border-radius-10 padding-top-x-small padding-bottom-x-small padding-right-none padding-left-none margin-none text-gray-v5 overflow-hidden white-space-nowrap text-overflow-ellipsis">
            <select name="benefits" class="text-f-small padding-right-none padding-top-none padding-bottom-none padding-left-small-force margin-none float-left text-gray-v5 white-space-nowrap text-overflow-ellipsis" ng-disabled="$.isLoading" select-change="$.changePlan">
              <option id="provider-benefit" class="text-overflow-ellipsis overflow-hidden white-space-nowrap" disabled selected hidden value="*">Pilih Benefit</option>
              <option class="text-overflow-ellipsis overflow-hidden white-space-nowrap" ng-repeat="benefit in $.parsePlans($.profile.admedika.plans) track by $index" ng-value="benefit.planId" ng-if="benefit.planId" ng-selected="{{$.selectedPlan == benefit.planId}}">{{ benefit.planType }}</option>
            </select>
          </label>
        </div>
        <!-- SUBMIT FILTER CONTENT HERE -->
        <div class="col col-30 padding-left-none" ng-click="$.isLoading && $.alertLoading()">
          <button name="button" class="button button-positive button-submit-filter border-radius-10 text-small line-height-none height-28px min-width-none min-height-none medium-button" type="submit" ng-disabled="$.isLoading">Submit</button>
        </div>
      </form>
      <!-- FILTER/SHORTING CONTENT HERE -->
      <div class="text-white text-small">
        <div class="row margin-none padding-none height-45px sub-header">
          <!-- FILTER PROVIDER CONTENT HERE -->
          <form id="form-search-provider" class="col col-60 margin-none bg-gold-v1 padding-left-small" name="search" novalidate="true" ng-submit="$.submit(filter)" role="search">
            <div class="list list-inset margin-left-none margin-bottom-none margin-right-none margin-top-x-small padding-none border-radius-10" ng-click="$.isLoading && $.alertLoading()">
              <label class="item item-input margin-none padding-right-none padding-top-none padding-bottom-none padding-left-small-force border-none">
                <input id="search-provider" type="text" placeholder="Search Provider" class="text-f-small padding-left-none padding-top-none padding-bottom-none padding-right-small-force" ng-model="filter.match" ng-disabled="$.isLoading">
                <i id="provider-search" class="icon ion-search placeholder-icon transform-360 relative-position right-10 bottom-4" ng-click="!$.isLoading && $.submit(filter)"></i>
              </label>
            </div>
          </form>
          <!-- NEAR ME CONTENT HERE -->
          <div id="provider-near" class="col col-15 bg-gray-v2 padding-none margin-none" ng-click="$.isLoading ? $.alertLoading() : $.nearMe(filter)" ng-class="{'image-disabled': $.isLoading}">
            <!-- <a class="text-center text-white"> -->
            <img src="img/assets/provider-near-me.png" id="provider-position" alt="{{ $.latlong }}" class="relative-position image-size-near-me object-fit contain t-header-image height-45px" />
            <!-- </a> -->
          </div>
          <!-- RESET FILTER CONTENT HERE -->
          <div id="provider-reset" class="col col-15 padding-none margin-none bg-gold-v1 text-center text-white sub-header" ng-click="$.isLoading ? $.alertLoading() : $.reset(filter)" ng-class="{'image-disabled': $.isLoading}">
            <img id="reset-filter-image" src="img/assets/provider-reset.png" alt="Reset Filter" class="object-fit contain image-size-near-me height-45px relative-position t-header-image" />
          </div>
        </div>
      </div>
      <div ng-repeat="item in $.groupProviders track by $index" ng-cloak>
        <div class="text-small text-gray-v1">
          <a id="provider-item" class="item height-60 provider-item" ng-click="$.show(item)">
            <div>
              <label class="block-display overflow-hidden width-80 assertive text-overflow-ellipsis provider-label">{{ item.providerName }}</label>
              <label class="text-sub-label">{{ item.providerId }}</label>
            </div>
            <div class="relative-position bottom-30">
              <i class="icon ion-chevron-right float-right"></i>
              <span ng-if="item.distance" class="distance">{{ item.distance.text || (item.distance.value ? item.distance.value + ' km' : item.distance.value) }}</span>
            </div>
          </a>
        </div>
      </div>
      <ion-infinite-scroll on-infinite="$.getProviders()" distance="20%" ng-if="!$.hasProviders"></ion-infinite-scroll>
    </section>
  </ion-content>
  <admedika-toolbar type="footer"></admedika-toolbar>
</ion-view>
