.platform-android {
	.action-sheet-backdrop.active {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.action-sheet {
		align-content: center;
		margin: auto;
		max-width: 96vw;
		border-radius: 5px;
		margin-bottom: 10px;

		.action-sheet-title,
		.button {
			border-color: #e2e2e2;
			color: #104e89;
			text-align: center;
		}

		.action-sheet-title {
			font-size: 14px;
			padding: 16px;
			color: #666;
		}

		.button.activated,
		.button.active {
			background: #e8e8e8;
		}

		.button.destructive {
			color: red;
		}
	}

	.action-sheet-group {
		border-radius: 0;
		background-color: #fafafa;
	}

	.action-sheet-cancel {
		display: none;
	}

	.action-sheet-has-icons {
		.button {
			padding-left: 56px;
		}
	}
}
