<ion-view view-title="Activate Account" cache-view="true">
  <ion-nav-title>
    <p class="title"><img src="img/assets/header-logo.png" class="margin-right-medium image-size-auth-header"></p>
  </ion-nav-title>
  <ion-content class="has-header" id="auth">
    <form name="form" class="padding-top-x-large" ng-submit="$.submit(data)" novalidate="true" ng-disabled="$.isLoading">
      <img src="img/assets/activation-account.png" class="image-size-medium margin-auto block-display" alt="Forgot Password" />
      <div class="margin-auto width-80">
        <div class="text-center tablet-text-medium margin-top-medium">
          Masukan 4 digit kode aktivasi yang terkirim ke email
        </div>
        <div class="text-center tablet-text-medium text-gold-v1 margin-vertical-x-small" ng-if="$.email">
          {{ $.email }}
        </div>
        <div class="text-center tablet-text-medium">
          untuk mengaktifkan akun MyMedical App
        </div>
        <div class="text-center tablet-text-medium margin-bottom-medium">
          <small>Silahkan cek inbox atau SPAM folder email Anda</small>
        </div>
        <label class="item item-input has-shadow main-input">
					<input name="code" type="text" ng-model="data.code" ng-required="true" ng-minlength="4" ng-maxlength="4">
				</label>
        <div class="margin-vertical-small text-error" ng-if="form.code.$touched && form.code.$dirty">
          <small ng-show="form.code.$error.required"><i class="ion icon-ios-close-outline"></i>
            Please fill your activation code.
          </small>
        </div>
        <button class="button button-block button-positive border-radius-10" type="submit" ng-disabled="form.$invalid || $.isLoading || $.isSending">{{ $.isLoading ? 'PLEASE WAIT' : 'AKTIVASI' }}</button>
        <div class="margin-top-x-large text-center">
          <p class="margin-none">Kode aktivasi tidak terkirim?</p>
          <div class="row padding-none margin-none">
            <div class="col padding-none margin-right-small">
              <button class="button button-block button-positive button-small" type="button" ng-click="$.resend($.email)" ng-disabled="$.isLoading || $.isSending">
                {{ $.isSending ? 'PLEASE WAIT' : 'KIRIM ULANG' }}
              </button>
            </div>
            <div class="col padding-none margin-left-small">
              <button class="button button-block button-dark button-small" type="button" ui-sref="app.auth.support({ email: $.email })" ng-disabled="$.isLoading || $.isSending">CONTACT SUPPORT</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-calm mp-footer"></ion-footer-bar>
</ion-view>
