@media only screen and (min-height: 641px) {
	//
}

@media only screen and (min-height: 640px) and (max-height: 730px) {
	//
}

@media only screen and (min-height: 731px) and (max-height: 1024px) {
	//
}

@media only screen and (min-height: 1279px) {
	//
}

@media only screen and (width: 412px) {
	//
}

@media only screen and (min-width: 360px) and (max-width: 370px) {
	//
}

@media only screen and (min-width: 320px) and (max-width: 410px) {
	//
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.image-size-sort,
	.image-size-near-me {
		width: 100px;
		margin-left: 18%;
	}

	.image-size-filter {
		width: 100px;
	}
}

@media only screen and (min-width: 720px) {
	.image-size-sort,
	.image-size-near-me {
		width: 100px;
		margin-left: 20%;
	}

	.t-padding-top-10 {
		padding-top: 10px !important;
	}

	.panel-heading {
		height: 40px;
		padding-top: 10px !important;
	}

	.row + .row {
		height: 40px;
		padding-top: 4px !important;
	}

	.image-size-filter {
		width: 100px;
	}

	label {
		font-size: 14pt !important;
	}

	.text-medium {
		font-size: 14pt !important;
	}

	.tablet-text-medium {
		font-size: 14pt;
	}

	.text-small {
		font-size: 12pt;
	}

	.text-m-small {
		font-size: 14pt !important;
	}

	.sub-header {
		height: 60px !important;
	}

	#provider-item {
		height: 75px !important;
	}

	#icon-chevron {
		bottom: 40px !important;
	}

	#search-provider {
		height: 40px !important;
	}

	.main-select {
		height: 35px !important;
		font-size: 14pt;
	}

	.main-select select {
		width: 100%;
	}

	.t-header-image {
		height: 60px !important;
	}

	.padding-top-medium-small {
		padding-top: 16px !important;
	}

	#login {
		font-size: 16pt;
		height: 45px !important;
	}

	.item-input input {
		font-size: 14pt;
	}

	.margin-top-large {
		margin-top: 40px !important;
	}

	.item-stacked-label .input-label {
		font-size: 14pt !important;
	}

	.text-x-medium {
		font-size: 14pt !important;
	}

	.warning-input {
		font-size: 14pt;
	}

	.button.button-positive {
		font-size: 16pt;
	}

	.mp-help-block {
		font-size: 12pt;
	}

	#auth .main-input {
		height: 50px !important;
	}

	.image-size-medium {
		width: 150px;
	}

	.forgetPass {
		margin-top: 10px !important;
	}

	.tablet-margin-top-medium {
		margin-top: 30px;
	}

	#forgetPass {
		margin-top: 10px !important;
	}

	.text-x-small {
		font-size: 12pt !important;
	}

	.text-x-large {
		font-size: 24px !important;
		margin-top: 10px !important;
	}

	.header-medika {
		height: 50px;
	}

	.menu-item {
		height: 35px;
		font-size: 14pt !important;
		padding-top: 7px !important;
	}

	.menu-item-active {
		height: 35px;
		font-size: 14pt !important;
		padding-top: 5px !important;
	}

	small {
		font-size: 95%;
	}

	.button.button-stable {
		height: 40px;
		margin-top: 10px;
	}

	.bg-profile {
		padding-bottom: 25px !important;
		padding-top: 25px !important;
	}

	.bar-footer {
		height: 60px;
	}

	.menu-icon-x img {
		height: 25px !important;
	}

	.menu-icon-x p {
		font-size: 12pt !important;
	}

	.image-size-home-footer {
		width: 45px !important;
	}

	.medium-button {
		height: 40px !important;
		width: 140px !important;
	}

	.item-select.item-stacked-label select {
		height: 30px;
		font-size: 12pt !important;
	}

	.max-width-60px {
		max-width: 100% !important;
	}

	.border-bottom-gray-ddd {
		height: 150px;
	}

	.t-content {
		margin-bottom: 20px !important;
	}

	.avatar {
		height: auto !important;
	}

	.item h2 {
		font-size: 22px !important;
	}

	.height-65px-force {
		height: auto !important;
	}

	.bottom-10 {
		bottom: 5px !important;
	}

	#content-status div {
		line-height: 1.3 !important;
	}

	.image-size-x-medium {
		width: 100px !important;
	}

	.copyright {
		font-size: 12pt !important;
	}

	#logout-button {
		margin-top: 40px;
	}

	#logout-button img {
		width: 20px !important;
	}

	#logout-button a {
		font-size: 18pt !important;
	}

	#version-update .text-x-small {
		font-size: 16pt !important;
		line-height: 2;
	}

	.image-size-avatar {
		width: 100px !important;
		height: 100px !important;
	}

	#avatar-profile {
		height: 200px !important;
	}

	#profile-name {
		font-size: 18pt !important;
	}

	#terms-content {
		font-size: 12pt !important;
	}

	#about-content p {
		font-size: 12pt !important;
	}

	#terms-content h5 b {
		font-size: 14pt !important;
	}

	#faq-content {
		font-size: 12pt !important;
	}

	#faq-content h5 b {
		font-size: 14pt !important;
	}

	#contact-us span {
		font-size: 14pt !important;
	}

	#contact-us textarea {
		height: 350px !important;
	}

	.image-size-admedika-connect {
		width: 120px !important;
	}

	#connect-content p {
		font-size: 14pt !important;
	}

	.margin-top-20-percent {
		margin-top: 13% !important;
	}

	#icon-photo {
		top: 0 !important;
		padding-top: 5px !important;
		font-size: 16pt !important;
		height: 30px !important;
		width: 30px !important;
	}

	.mail-icon {
		font-size: 14pt !important;
	}

	#profile-icon-photo {
		left: 95px !important;
		top: 65px !important;
	}

	.digital-card-content {
		height: 100% !important;
		font-size: 12pt !important;
	}

	#digital-card-content div.scroll {
		height: 100% !important;
	}

	.label-card,
	.content-card {
		font-size: 12pt !important;
	}

	#qrcode {
		text-align: center !important;
	}

	#admedika-logo {
		position: relative !important;
		height: 100%;
		padding-top: 360px !important;
		padding-right: 30px !important;
	}

	#admedika-logo img {
		height: 100px !important;
		width: 100px !important;
	}

	#home-content {
		margin-top: -20px !important;
	}

	#terms-content,
	#faq-content,
	#about-content {
		padding-top: 20px;
	}

	#terms-title,
	#faq-title,
	#about-title {
		font-size: 18pt;
	}

	div .title.title-center {
		font-size: 18pt;
	}

	.image-size-admedika-header {
		width: 30px !important;
		margin-right: 10px !important;
	}

	.t-title {
		font-size: 18pt !important;
	}

	ion-nav-title p { // stylelint-disable-line
		font-size: 18pt !important;
		text-align: center !important;
	}

	.support-content {
		padding-right: 10px;
		padding-left: 10px;
	}

	#auth h2 {
		padding-top: 30px !important;
	}

	.mp-content img {
		width: 150px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-top: 15px;
		margin-bottom: 30px;
	}

	.modal {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 240px;
		width: 100%;
	}

	#disagree {
		height: 40px !important;
	}

	#modal-terms-subtitle {
		font-size: 18pt;
		padding-top: 20px;
	}

	#mystatus {
		background-color: #ececec;
	}

	#text-connect {
		padding-top: 10px;
		line-height: 1.5;
	}

	ion-nav-back-button button { // stylelint-disable-line
		top: 5px;
	}

	// [nav-bar-transition="ios"] [nav-bar="active"] .bar,
	// [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	// 	height: 60px !important;
	// }

	#claim-history select {
		margin-top: -20px;
		border-radius: 7px;
		height: 45px;
		background-color: white;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		border-color: white;
		border: 1px solid #ddd;
	}

	#form-search-provider .margin-top-x-small {
		margin-top: 5px !important;
	}

	.icon-login {
		text-align: center;
		position: absolute;
		top: 180px;
		width: 100%;

		img {
			width: 180px;
		}

		p {
			color: white;
			font-size: 22pt;
			margin-top: 20px;
			line-height: 1.3;
		}
	}

	#t-header-title {
		height: 60px !important;
	}

	#mypersona-header-bar {
		height: 60px;
	}

	.provider-popup .popup {
		width: 450px;
	}

	.provider-name {
		font-size: 14pt;
	}

	.distance {
		font-size: 11pt;
	}

	.text-sub-label { font-size: 11pt !important; }

	.provider-item {
		padding: 16px !important;
	}

	.home-menu-container {
		display: flex;
		background-color: white;
		height: calc(100vh - 26vh - (2 * #{$bar-height}));
		flex-direction: column;

		.home-menu-row {
			flex: 1;
			display: flex;

			.home-menu-col {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #f7f7f7;

				img {
					width: 40.5% !important;
				}
			}
		}
	}

	.avatar-photo {
		display: flex;
		width: 100%;
		height: auto;

		.avatar-photo-content {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 120px !important;
				height: 120px !important;
			}

			a {
				position: absolute !important;
				height: 30px !important;
				width: 30px !important;
				padding-top: 2px !important;
				line-height: 30px !important;
				margin-left: 47px !important;
				margin-top: -39px !important;
			}
		}
	}

	.bar-subfooter {
		bottom: 40px !important;
	}

	.setting-container {
		height: 90vh;
	}
}
