@media only screen and (max-width: 330px) {
	.mp-nav li a {
		font-size: 9px;
	}
}

// iphone 6+ screen
// portrait
@media only screen and (min-width: 413px) and (max-width: 415px) {
	//
}

@media only screen and (min-width: 560px) {
	//
}

// iphone 4 screen
// portrait
@media only screen and (width: 320px) and (max-height: 480px) {
	.notice-guide {
		line-height: 1.2 !important;
	}

	.setting-container {
		height: 115vh;
	}

	.connect-content {
		padding: 0 10px !important;
	}

	#profile-name {
		margin-left: 20px !important;
	}

	.home-menu-container {
		display: flex;
		background-color: white;
		height: calc(100vh - 26vh - (2 * #{$bar-height}));
		flex-direction: column;

		.home-menu-row {
			flex: 1;
			display: flex;

			.home-menu-col {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #f7f7f7;

				img {
					width: 40.5% !important;
				}
			}
		}
	}

	.provider-popup .popup {
		width: 280px;
	}

	.line-height-2 {
		line-height: 1.2;
	}

	#logout-button {
		font-size: 11pt !important;
	}

	.mobile-provider {
		padding-left: 5px;
	}

	.height-156 {
		height: 135px;
	}

	.text-small {
		font-size: 7pt !important;
	}

	.home-image {
		width: 50px !important;
	}

	.image-size-medium {
		width: 80px;
	}

	.padding-top-x-large {
		padding-top: 20px !important;
	}

	.text-medium {
		font-size: 10pt !important;
	}

	.padding-left-small {
		padding-left: 5px;
	}

	.text-small {
		font-size: 7pt !important;
	}

	.padding-top-large {
		padding-top: 15px;
	}

	.min-height-full {
		min-height: 90vh;
	}

	#form-search-provider .margin-top-x-small {
		margin-top: 0 !important;
	}

	#reset-filter-image {
		height: 35px !important;
		top: 5px;
	}

	.mp-push-top {
		padding-top: 50px !important;
	}
}
// landscape
@media only screen and (width: 480px) and (max-height: 320px) {
	.qrcode {
		width: 60px;
	}

	.image-size-medium {
		width: 50px;
	}

	.padding-left-small {
		padding-left: 5px;
	}

	.menu-item,
	.menu-item-active {
		height: auto;
	}
}
// iphone 5 screen
// portrait
@media only screen and (width: 320px) and (max-height: 568px) and (min-height: 485px) {
	.height-156 {
		height: 135px;
	}

	#sortdate-provider {
		top: 5px;
	}

	#near-provider {
		top: 5px;
	}

	.home-image {
		height: 120px;
	}

	.mobile-provider {
		padding-left: 5px;
	}

	.text-small {
		font-size: 7pt !important;
	}

	.text-medium {
		font-size: 10pt !important;
	}

	.padding-left-small {
		padding-left: 5px;
	}

	.menu-item,
	.menu-item-active {
		height: auto;
	}

	.margin-top-20-percent {
		margin-top: 10% !important;
	}

	.padding-top-large {
		padding-top: 15px;
	}

	#form-search-provider .margin-top-x-small {
		margin-top: 1px !important;
	}
}
// landscape
@media only screen and (width: 568px) and (max-height: 320px) {
	//
}
// iphone 6 screen
// portrait
@media only screen and (min-width: 375px)  and (max-width: 376px) and (max-height: 667px) {
	.main-select {
		margin-left: -20px;
	}
}
// landscape
@media only screen and (width: 667px) and (max-height: 375px) {
	//
}
// iphone 6 screen
// landscape
@media only screen and (width: 736px) and (max-height: 414px) {
	//
}
// ipad screen
// portrait
@media only screen and (min-width: 768px) and (max-width: 769px) and (max-height: 1079px) {
	.btn-upload {
		left: 60%;
	}

	.image-size-sort,
	.image-size-near-me {
		width: 100px;
		margin-left: 25%;
	}

	.image-size-filter {
		width: 100px;
	}
}
// landscape
@media only screen and (min-width: 1024px) and (max-height: 768px) {
	.image-size-sort,
	.image-size-near-me {
		width: 100px;
		margin-left: 25%;
	}

	.image-size-filter {
		width: 100px;
	}
}
