<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Login" cache-view="false">
  <ion-content scroll="false">
    <!-- MAIN CONTAINER -->
    <section class="login-container">
      <div id="logo-bri" class="margin-top-large padding-top-large margin-auto">
        <img alt="logo-bri" src="img/assets/logo-bri.png" class="image-size-logo-bri padding-top-large margin-auto" />
      </div>
      <!-- FORM CONTAINER -->
      <form name="form" id="formLogin" ng-submit="$.submit(data)" novalidate="true" ng-init="isVisible = false"
        ng-disabled="$.isLoading">
        <div class="margin-large">
          <!-- USERNAME -->
          <label class="item item-input border-top-none border-radius-10 margin-top-large">
            <span class="input-label width-10"><i class="ion-ios-email-outline icon-medium text-blue-v1"></i></span>
            <input name="username" type="email" placeholder="mail@email.com" ng-model="data.username" ng-required="true">
          </label>
          <!-- PASSWORD -->
          <div class="item item-input border-radius-10 margin-top-medium">
            <span class="width-10"><i class="ion-ios-locked-outline icon-medium text-blue-v1"></i></span>
            <input name="password" type="password" placeholder="password" ng-model="data.password" ng-required="true"
              ng-hide="isVisible">
            <input name="passwordText" type="text" placeholder="password" ng-model="data.password" ng-required="true"
              ng-show="isVisible">
            <span id="toggle" class="input-label width-10 margin-right-small" ng-click="isVisible = !isVisible">
              <a>
                <i class="icon-medium" ng-class="isVisible ? 'ion-eye-disabled' : 'ion-eye'" style="display: block;"></i>
              </a>
            </span>
          </div>


          <!-- LOGIN BUTTON -->
          <div class="margin-top-medium">
            <button id="login" class="button button-block button-full button-positive border-radius-10" type="submit"
              ng-disabled="$.isLoading">
              {{ $.isLoading ? 'PLEASE WAIT' : 'LOG IN' }}
            </button>
          </div>
        </div>


        <!-- REGISTER & FORGET PASSWORD -->
        <div class="margin-medium" style="margin-top: -30px;">
          <div class="row">
            <div class="col">
              <button name="register" class="button button-full button-assertive no-wrap text-medium remove-after border-radius-10"
                ui-sref="app.auth.register">DAFTAR</button>
            </div>
            <div class="col">
              <button name="forget-password" class="button button-full button-dark text-small remove-after border-radius-10"
                ui-sref="app.auth.forget-password">LUPA PASSWORD</button>
            </div>
          </div>
        </div>

        <!-- BANNERS -->
        <div class="margin-x-large">
          <div class="row margin-top-x-large">
            <div class="col">
              <img alt="logo-asuransi" class="margin-left-x-large image-size-mypersona-header" src="img/assets/mari-berasuransi.png" />
            </div>
            <div class="col">
              <img alt="logo-call" class="image-size-mypersona-header-1" src="img/assets/call-center-bri.png" />
            </div>
          </div>
        </div>
      </form>
    </section>
  </ion-content>
</ion-view>
